body {
  background-image: url("https://images3.alphacoders.com/639/639657.jpg");
  background-size: cover;
}


.weatherbox {
  margin-top: 20vh;
  font-family: 'Share Tech Mono', monospace;
  color: #66DE7A;
  background-color: transparent;
}
footer {
  position: absolute;
  font-family: 'Share Tech Mono', monospace;
  color: #66DE7A;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: transparent;
}
