html {
  background-color: #363377;
}


.weatherbox {
  margin-top: 10vh;
  background-color: #363377;
  font-family: "Lato";
  color: #827FB2;
}

footer {
  background: #0B083B;
  color: #827FB2;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  font-family: "Lato";
}
#signature {
  color:#827FB2;
  font-family: "Meddon";
}
